<h1>Log in using OpenID authentication</h1>
<p>Please use your existing OpenID to log in.
If you do not have one you can learn more and register <a target="_blank" href="http://openid.net/get-an-openid/">using one of many</a> existing trusted OpenID providers.
<br/><br/>
</p>
<p>We will not ask your personal data and will not send you any email.
<br/><br/>
</p>
<p>To log in just click your OpenID provider icon and type your OpenID into form field if applicable.<br/><br/></p>

<div style="height: 150px;" class="ui-helper-clearfix">

<p><em>Note:</em> Please take into account openid.anonymity.com and livejournal.com openid providers are not supported currently. If you experience any problems with openid sign in please let us now.</p>
<br>
<br>
<br>

<h2>Log in using your preffered Social Network</h2>
<br>
	<p>
		<a href="/login" title="login">Login</a>
	</p>
</div>
